/* Cambiar estilos predeterminados */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bubblegum Sans', cursive;
}

.container{
    display: flex;
    flex-direction: row;
}

/* Normas style para la sección de contenido */

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #0067b1;
    width: 55%;
    min-height: 100vh;
    padding: 10px 20px;
}

.image {
    background-image: url("./imagenes/latifi.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 65%;
}

.text {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Normas style para la sección de formulario */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.titulo {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid gray;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

form div {
    position: relative;
    margin-bottom: 15px;
}

input:focus {
    border: 2px solid #0067b1;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    
}

span {
    color: #0067b1;
    cursor: pointer;
    transition: all 0.1s ease;
}

span:hover {
    opacity: 0.8;
}

/* Normas style para el button */

button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #0067b1;
    color: white;
    border: 2px solid #0067b1;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}

button:hover {
    opacity: 0.8;
}

/* Media Queries */

@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    form, .content{
        width: 100% !important;
    }
    .btn{
        flex-direction: column;
    }
    .image{
        height: 70vh;
    }
}

@media (max-width: 425px) {
    form {
        padding: 20px;
    }
}